body {
    /* Background Map Image */
    background-image: url('images/map.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
/* Menu (table) Border */
table.menu, td.menu {
    background-color: dimgray;
    border: 2px solid black;
    border-collapse: collapse;
}
tr.menu {
    border: 1px solid black;
    border-collapse: collapse;
}
/* Menu Icons (align in the middle vertically and standard size) */
.menu-icon {
    vertical-align: middle;
    height: 28px;
    width: 28px;
    padding: 5px;
}
/* Map Pinpoint (w/ hardcoded position) */
.map-pinpoint {
    height: 50px;
    width: 34px;
    position: absolute;
    top: 50%;
    left: 30%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
/* Map Pinpoint 2 (w/ hardcoded posistion) */
.map-pinpoint-2 {
    height: 50px;
    width: 34px;
    position: absolute;
    top: 100%;
    left: 30%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
/* Map Pinpoint 2 (w/ hardcoded posistion) */
.map-pinpoint-3 {
    height: 50px;
    width: 34px;
    position: absolute;
    top: 150%;
    left: 30%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
/* Modal */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
table.modal, th.modal, td.modal {
    background-color: lightgray;
    border: 2px solid black;
    border-collapse: collapse;
}
.modal-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.modal-text {
    overflow: hidden;
    max-width: 36ch;
}
