body {
    /* Background Map Image */
    background-image: url('images/map.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
/* Menu (table) Border */
table, th, td {
    background-color: dimgray;
    border: 2px solid black;
    border-collapse: collapse;
}
/* Menu Icons (align in the middle vertically and standard size) */
.menu-icon {
    vertical-align: middle;
    height: 28px;
    width: 28px;
    padding: 5px;
}
/* Map Pinpoint (w/ hardcoded position) */
.map-pinpoint {
    height: 50px;
    width: 34px;
    position: absolute;
    top: 50%;
    left: 30%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
